header{
    background-color: cadetblue;
    color:#000;
    text-align:center;
    padding: 10px;
}
ul li{
    display: inline;
    padding: 10px;
    gap: 10px;
    font-weight: bold;
}
.map{
    float: right;
}